<div class="container-fluid justify-content-center" style="justify-items: center;">
  <div class="container">
      <div class="row">
          <div class="mb-3 text-center" style="margin-right: 1px;">
              <img src="https://img.icons8.com/color/512/administrator-male--v1.png" alt=""
                  style="height: 100%; width: 70%;">
          </div>
          <p class="navbar-brand text-dark fw-bold mb-3" href="" style="text-align: center;">Administrador</p>
          <div class="text-center" id="mynavbar">
              <hr>
              <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown mb-1">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Servicios</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Agregar</a></li>
                    <li><a class="dropdown-item" href="#">Listar</a></li>
                  </ul>
                </li>
                <hr>
                <li class="nav-item dropdown mb-1">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Reportes</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Agregar</a></li>
                    <li><a class="dropdown-item" href="#">Eliminar</a></li>
                  </ul>
                </li>
                <hr>
                <li class="nav-item mb-1">
                  <a class="nav-link" href="/salir">Salir</a>
                </li>
              </ul>
          </div>
      </div>
      <hr>
  </div>
</div>