{% extends "index.html" %}

{% block encabezado %}
    {% include "encabezado.html" %}
{% endblock %}

{% block menu %}
    {% include "menu.html" %}
{% endblock %}

{% block contenido %}
<div class="container" style="justify-content: center; justify-items: center;">
    <h3 class="fw-bold text-center" style="margin: 20px;">Bienvenidos LAVADERO - ADSO</h3>
    <p style="margin: 10px;">Nuestra empresa presta sus servicios en la ciudad de Neiva...</p>
    <br>
    <br>
    <div class="text-center">
        <img src="https://i.pinimg.com/originals/03/78/b0/0378b0c1b8271c783d1da918d2daa760.gif" alt="" style="height: 65vh; width: auto;">
    </div>
</div>
{% endblock %}

{% block piePagina %}
    {% include "piePagina.html" %}
{% endblock %}